[submodule "projects/ngx-common-ui"]
	path = projects/ngx-common-ui
	url = https://github.com/sunildivyam/ngx-common-ui.git
[submodule "projects/ngx-ssr-app"]
	path = projects/ngx-ssr-app
	url = https://github.com/sunildivyam/ngx-ssr-app.git
[submodule "projects/ngx-core"]
	path = projects/ngx-core
	url = https://github.com/sunildivyam/ngx-core.git
[submodule "projects/ngx-tools"]
	path = projects/ngx-tools
	url = https://github.com/sunildivyam/ngx-tools.git
[submodule "projects/ngx-cms"]
	path = projects/ngx-cms
	url = https://github.com/sunildivyam/ngx-cms.git
[submodule "projects/ngx-lib-docs"]
	path = projects/ngx-lib-docs
	url = https://github.com/sunildivyam/ngx-lib-docs.git
[submodule "projects/ngx-ssr-libdocs-app"]
	path = projects/ngx-ssr-libdocs-app
	url = https://github.com/sunildivyam/ngx-ssr-libdocs-app.git
