[submodule "projects/ngx-common-ui"]
	path = projects/ngx-common-ui
	url = https://github.com/sunildivyam/ngx-common-ui.git
[submodule "projects/ngx-ssr-app"]
	path = projects/ngx-ssr-app
	url = https://github.com/sunildivyam/ngx-ssr-app.git
[submodule "projects/ngx-core"]
	path = projects/ngx-core
	url = https://github.com/sunildivyam/ngx-core.git
[submodule "projects/ngx-tools"]
	path = projects/ngx-tools
	url = https://github.com/sunildivyam/ngx-tools.git
